/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--font-main);
  background-color: var(--background-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-text);
}

.header {
  margin: 100px 0;
  background: var(--background-color);
  font-family: var(--font-accent);
}

.header__container {
  padding: 120px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
}

.logo {
  font-size: 49px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  font-size: 14px;
  padding-block-start: 20px;
  text-transform: uppercase;
}

.header__theme-menu {
  padding-block-start: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  margin-inline-start: -20px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
}