/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--color-text);
  font-family: var(--font-main), sans-serif;
  background-color: var(--color-background);
  background-image: var(--gradient-background);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-text);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 100px auto;
  border: 2px solid var(--color-border);
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem) 0;
  font-family: var(--font-accent), monospace;
  background-color: var(--color-background);
}

.content-width {
  inline-size: var(--content-width);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}

.card {
  background-color: var(--color-background);
  padding-block-end: 25px;
}

.card__title {
  font-size: 18px;
  line-height: 1;
  font-variation-settings: 'wght' var(--font-weight-heading);
  padding: 4px 12px;
  line-height: 1.22;
}

.card__image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card__descripton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__description {
  font-size: 18px;
  line-height: 1.17;
}
