:root {
  --font-main: 'Inter', sans-serif;
  --font-weight-text: 400;
  --font-weight-title: 700;
  --font-accent: 'PressStart2P', monospace;
  --background-color: #fff;
  --accent-color: #000;
  --background-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --inline-size-content: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --text-stroke-color: #fff;
  --text-hover-color: #fff;
  --heart-color: #FF0000;
  --heart-contour-color: #000;
}